* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
}

.animated-box1 {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 10px;
  animation: moveUpDown 2s ease-in-out infinite;
  border-radius: 1000px;
}

.animated-box2 {
  width: 100px;
  height: 100px;
  background-color: #380dd2;
  border-radius: 10px;
  animation: moveUpDown 3s linear infinite;
  position: absolute;
  top: 50%;
  left: 20%;
  border-radius: 1000px;
}

.animated-box3 {
  width: 100px;
  height: 100px;
  background-color: #4d037c;
  border-radius: 10px;
  animation: moveUpDown 5s ease-out infinite;
  position: absolute;
  top: 30%;
  left: 70%;
  border-radius: 1000px;
}

.animated-box4 {
  width: 100px;
  height: 100px;
  background-color: #930259;
  border-radius: 10px;
  animation: moveUpDown 4s ease-in infinite;
  position: absolute;
  top: 80%;
  left: 50%;
  border-radius: 1000px;
}

.animated-box5 {
  width: 100px;
  height: 100px;
  background-color: #c80741;
  border-radius: 10px;
  animation: moveUpDown 2s ease-in-out infinite;
  position: absolute;
  top: 40%;
  left: 80%;
  border-radius: 1000px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 680px) {
  .animated-box1 {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
  }

  .animated-box2 {
    width: 70px;
    height: 70px;
    top: 50%;
    left: 5%;
    border-radius: 1000px;
  }

  .animated-box3 {
    width: 70px;
    height: 70px;
    top: 20%;
    left: 60%;
    border-radius: 1000px;
  }

  .animated-box4 {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
  }

  .animated-box5 {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
  }
}